apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: employee-service
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: employee-service
    spec:
      containers:
      - name: employee-service
        image: 092390458462.dkr.ecr.us-west-2.amazonaws.com/employee-service
        ports:
        - containerPort: 80
